<html>
  <head>
    <title>My App</title>
    <!-- Include your CSS and JS files here -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="/">LAIR</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/booking">Bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/property">Properties</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/review">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user">User</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main
      class="d-flex flex-column justify-content-center align-items-center flex-grow-1"
    >
      {{{body}}}
      <!-- This will be replaced with the content of individual pages -->
    </main>

    <footer class="bg-secondary text-center py-4 fixed-bottom">
      <p>&copy; 2023 Lair. All rights reserved.</p>
    </footer>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>
</html>