{{!-- property-details.hbs --}}
{{#extends 'layout'}}
{{#content 'body'}}
  <h1>Property Details</h1>
  <!-- Display property details, images, availability, and booking form -->
{{/content}}
{{/extends}}