{{! property-details.hbs }}

{{!Container 1}}
<div class="row">
  <div class="container mb-4 mt-4">
    <div class="card">
      <div class="card-body bg-light">
        <div>Share a comment and rating for this property:{{property/:id}}</div>
      </div>
    </div>
  </div>
</div>
{{!Container 1}}




{{!Container 2}}
<div class="card">
  <div class="card-body bg-light">
    <div class="row">
      {{!USERNAME}}
      <div class="col-4">
        <div class="container mb-4">
          <div class="card">
            <div class="card-body bg-light">
              Display Username
              {{! THIS.USERNAME LOGGEDIN}}

            </div>
          </div>
        </div>
      </div>
      {{! END OF USERNAME}}
      {{!TEXT COMMENT}}
      <div class="col-8">
        <div class="container mb-4">
          <div class="card">
            <div class="card-body bg-light">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ></textarea>
              </div>

            </div>
          </div>
        </div>
      </div>
      {{! END OF TEXTCOMMENT}}
    </div>
  </div>
</div>
{{!Container 2}}





{{!Container 3}}
<div class="row">
  <div class="container mb-4 mt-4">
    <div class="card">
      <div class="card-body bg-light">

        <div class="row">

          {{!Container Keyvalues}}
          <div class="col-4">
            <div class="container mb-4 mt-4">
              <div class="card">
                <div class="card-body bg-light">
                  please rate this property !
                </div>
              </div>
            </div>
          </div>
          {{!Container Keyvalues}}

          {{!Container Check10}}
          <div class="col-8">
            <div class="container mb-4 mt-4">
              <div class="card">
                <div class="card-body bg-light">

                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                    />
                    <label class="form-check-label" for="inlineRadio1">1</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                    />
                    <label class="form-check-label" for="inlineRadio1">2</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                    />
                    <label class="form-check-label" for="inlineRadio1">3</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                    />
                    <label class="form-check-label" for="inlineRadio1">4</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                    />
                    <label class="form-check-label" for="inlineRadio1">5</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                    />
                    <label class="form-check-label" for="inlineRadio1">6</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                    />
                    <label class="form-check-label" for="inlineRadio1">7</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                    />
                    <label class="form-check-label" for="inlineRadio1">8</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                    />
                    <label class="form-check-label" for="inlineRadio1">9</label>
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                    />
                    <label
                      class="form-check-label"
                      for="inlineRadio1"
                    >10</label>
                  </div>
                </div>
              </div>

            </div>
          </div>
          {{!Container Check10}}

        </div>
      </div>

    </div>
  </div>
</div>
{{!Container 3}}

<input class="btn btn-primary" type="submit" value="Submit">
