<h1>Create Property</h1>

<form action="/property/create" method="POST" enctype="multipart/form-data">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required /><br />

  <label for="description">Description:</label>
  <textarea id="description" name="description" required></textarea><br />

  <label for="location">Location:</label>
  <input type="text" id="location" name="location" required /><br />

  <label for="price">Price:</label>
  <input type="number" id="price" name="price" required /><br />

  <label for="amenities">Amenities:</label>
  <textarea id="amenities" name="amenities"></textarea><br />

  <input type="file" id="images" name="images" accept="image/*" multiple />

  <label for="maxGuests">Max Guests:</label>
  <input type="number" id="maxGuests" name="maxGuests" required /><br />

  <button type="submit" value="Create Property">Create Property</button>

</form>